.page{
	font-family: Helvetica;
	background-color: #FBEEC1;
}

.header {
}

.nav-bar{
	display: flex;
}
.nav-bar > div{
	padding: 10px;
}

.parent{
	display: grid;
	padding: 10px;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 1rem;

}
.child{
	width: 300px;
	height: 300px;
	overflow: hidden;
	position: relative;
}

.vparent{
	display: inline-block;
	padding: 10px;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 1rem;
}

.child img{

	position: absolute;
	top: 50%;
	left: 50%;
	height: auto;
	width: 300px;
	transform: translate(-50%, -50%);
}
.Limage{
	display: flex;
}

.caption{
	padding: 10px;
	text-align: justify;
}

.tab{

}
.tab button{

}
.tab button.active{
	background-color: #ccc;
}
.tabcontent{
	display: none;
}